player-connection-mode=Listen
player-connection-guid=3719096152
player-connection-debug=0
player-connection-project-name=GGJ2021
player-connection-ip=192.168.0.54
player-connection-ip=192.168.168.97
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
vr-enabled=0
hdr-display-enabled=0
